<div class="bg-cover bg-no-repeat bg-center bg-goal relative z-0">
  <div class="absolute opacity-50 bg-white w-full h-full -z-20"></div>
  <div class="flex justify-center max-w-7xl mx-auto -z-10 p-32">
    <img
      ngSrc="assets/images/goal-1.webp"
      alt="goal-1"
      width="550"
      height="588"
    />
    <div class="flex flex-col gap-5">
      <h2 class="text-3xl text-title font-poppins font-medium">Hedefimiz</h2>
      <div class="flex flex-col gap-5">
        <h3 class="text-5xl font-bold text-default">Yeç Gastro Amacı</h3>
        <span class="text-base text-description font-semibold">
          Yeç Gastro müşteri memnuniyetini hedefler.Sağlıklı gıda üretebilmek
          ,Tarım bakanlığının belirlediği standartların uygunlanmasıyla
          <br />üretilir.Mutfak personelenin sağlık taramaları düzenli
          yapılması.Sebze ve meyvelerin günlük taze olmasına dikkat edilerek
          sağlıklı yemek üretilmektedir.İstanbul’un her ilçesine taşıma yemek
          hizmeti sunabilmekteyiz.Anlayışlı kaliteli ve lezzetli hizmet
          üretmekteyiz.
        </span>
      </div>
      <div class="flex items-center justify-center gap-8 mt-4">
        <button
          class="bg-title text-white font-cursive py-2 px-4 rounded mb-2 w-40 hover:bg-hover"
        >
          Menü'ye Git
        </button>
        <button
          class="bg-title text-white font-cursive py-2 px-4 rounded mb-2 w-40 hover:bg-hover"
        >
          Yemek Lezzeti
        </button>
      </div>
    </div>
  </div>
</div>
