<div
  class="bg-wellcome bg-cover bg-no-repeat bg-center w-screen h-screen relative z-0"
>
  <div class="absolute opacity-30 bg-black w-full h-full -z-20"></div>
  <div class="flex items-center justify-center w-full h-full -z-10">
    <div class="flex flex-col items-center justify-center gap-5">
      <div class="text-5xl text-white font-poppins">Yeç Gastro Catering'e</div>
      <div class="text-7xl font-bold text-white font-playfair">Hoşgeldiniz</div>
      <button
        class="px-7 py-3.5 rounded bg-[#C19855] text-base text-white font-medium hover:bg-[#E0B87B] transition-all duration-300 ease-in-out"
      >
        Menüyü Keşfet
      </button>
    </div>
  </div>
</div>
