<div class="flex flex-col p-6 xl:p-0">
  <div>
    <app-wellcome></app-wellcome>
  </div>
  <div>
    <app-about></app-about>
  </div>
  <div>
    <app-best-selling-dishes></app-best-selling-dishes>
  </div>
  <div>
    <app-goal></app-goal>
  </div>
  <div>
    <app-preference-statistics></app-preference-statistics>
  </div>
  <div>
    <app-menu-catalog></app-menu-catalog>
  </div>
  <div>
    <app-about-meals></app-about-meals>
  </div>
  <div>
    <app-contact></app-contact>
  </div>
  <div>
    <app-meal-images></app-meal-images>
  </div>
  <div>
    <app-price-list></app-price-list>
  </div>
</div>
